<head>
  <!-- OKOKOKOKOK -->
  {% if page.extrajs %}
  <script async="" src="{{ "/assets/js/" | append: page.extrajs | relative_url}}"></script>
  {% endif %}
  <script async="" src="{{ "/assets/js/subscribe.js" | relative_url}}"></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/global.css" | relative_url }}">
  {% if page.extrastyle %}
  <link rel="stylesheet" href="{{ "/assets/css/" | append: page.extrastyle | relative_url}}"></script>
  {% endif %}
  {%- feed_meta -%}
</head>
